body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    background-image: linear-gradient(135deg, #2980b9, #b120eb);
}

header {
    background-image: url(./assets/IA.jpg );
    background-repeat: no-repeat;
    background-size: cover;
    /* cobre todo o header */
    background-position: center;
    width: 100%;
    height: 150px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    line-height: 1rem;
    position: fixed;
    top: 0;
    z-index: 1000;
}

main {

    padding: 20px;
    max-width: 70%;
    /* largura máxima */
    margin: 0 auto;
    /* centraliza horizontalmente */
    color: white;
    text-align: justify;
}

.topo{
    margin-top: 150px;
}

.titulo {
    text-align: center;
    font-size: 2rem;
}

.imagem {
    float: left;
    margin: 0;
    padding-right: 10px;
    width: 40%;
    /* border: 1px solid #ccc; */
}

img {
    float: left;
    width: 100%;
    border-radius: 8px;
}

.texto {
    text-align: justify;
}

.itens {
    list-style-type: none;
}

.imagem2 {
    float: none;
    margin: 0 auto;
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}

.imagem2 img {
    float: none;
    margin: 0 auto;
    display: block;
    max-width: 100%;
    height: auto;
    width: 90%;
    border-radius: 10px;
}


frame {
    display: block;
    margin: 20px auto;
    width: 100%;
    height: 400;
    border-radius: 8px;
}

a {
    text-decoration: none;
    color: white;
}

section a:hover {
    text-decoration: underline;
    color: #f4ed1d;
}

section ul {
    list-style-type: none;
    /* remove bolinhas */
    padding-left: 0;
    /* tira o espaçamento à esquerda */
}

.ref {
    border-bottom: 1px solid white;
}

footer {
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    background-image: linear-gradient(135deg, #2980b9, #b120eb);
}

footer a {
    color: white;
    margin: 0 15px;
}

footer a:hover {
    color: #f4ed1d;
    transition: all 0.3s ease;
}

footer p {
    margin: 5px 0;
}

@media (min-width:320px) and (max-width:543px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    header {
        height: 100px;
        width: 100%;
        padding: 10px;
      text-align: center;

    }
    .topo{
    margin-top: 105px;
}

    h1 {
        font-size: 1.2rem;
        /* margin-bottom: 2px; */
    }

    p {
        font-size: 1rem;
    }

    main {
        margin: 0 auto;
        max-width: 100%;
        padding: 20px;
    }

    .imagem {
        width: 100%;
        margin-bottom: 10px;
    }

    .titulo {
        font-size: 1.1rem;
        margin-top: 5px;
    }

    footer {
        width: 100%;
        padding: 10px;
        font-size: 0.8rem;
        text-align: center;
    }

}